

<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<div class="col-lg-5 col-md-5">

			<p>

				<img src="/assets/<%= @product.image_url %>" class="img-responsive"/>
			</p>
			<%  if  user_signed_in? %>
				<%  if  @product.user_id== current_user.id %>

				
				<%= link_to 'Edit', edit_product_path(@product) %> |
				<%= link_to 'Remove', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
				<% end %>
			<% end %>
			<%= link_to 'Back', products_path %>


		</div>

		<div class="col-lg-7 col-md-7">

			<div class="text">
				<p>
					<strong>Title:</strong>
					<%= @product.title %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= @product.description %>
				</p>

				<p>
					<strong>Price:</strong>
					<%= @product.price %>
				</p>

				<p>
					<strong>Category:</strong>
					<%= @category  %>
				</p>


			</div>


		</div>
		
	</div>
	<div class="row">
			<div class="col-md-12">
				<div class="ratings">
					<h1> Ratings </h1>
					<%= render @product.ratings %>
					<div>
						<%= link_to "Rate product", new_product_rating_path(@product), class: "btn-custom" %>
					</div>
				</div>
			</div>
		</div>
</div>


