<!DOCTYPE html>
<html>
  <head>
    <title>EbayLookalike</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  
  <%= render "layouts/modal_user_login" %>
  <%= render "layouts/modal_user_signup" %>

    <nav class="navbar navbar-default navbar-custom">
  <div class="container">
    <%= link_to "Home", root_path, class: "navbar-brand" %>

  <button class="navbar-toggle" data-toggle= "collapse" data-target=".navbar-collapse" >
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>

  </button>
  <div class="collapse navbar-collapse" >
    <ul class="nav navbar-nav">
        
        
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "About the website", about_path %></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
        <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% Category.all.each do |category| %>
      <li class="<%= 'active' if params[:category] == category.name %>">
        <%= link_to category.name, products_path(category: category.name), class: "link" %>
      </li>

      <% end %>
    </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
    <!-- the pull-right is like a float right -->
          <% if user_signed_in? %>
          
          <li><a><span class="current_user"> Current user: <%= @username %> </span></a></li>
          
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>

          <% else %>
          <li><a class="nav-link" data-toggle="modal" data-target="#login-modal">Log in</a></li>
          <li><a class="nav-link" data-toggle="modal" data-target="#signup-modal">Sign up</a></li>
        
          <% end %>
    </ul>
    <% if controller.controller_name == 'products' %>
      <div class="col-sm-3 col-md-3 pull-right">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search_term" id="search_term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>
    <% end %>
    
  </div>
      </div>
  
  </nav>


    <%= yield %>
    <footer class="main-footer" id="footer">

      <p class="title-footer">Ebay lookalike </p>

      <p class="footer-links">
        <a href="/">Home</a>
        ·
        <a href="/about">About</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#" class="contact">Contact</a>
      </p>

      <p class="footer-company-name">Company Name &copy; 2016</p>

    </footer>


    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </body>
</html>
